.zero{
 position: absolute;
 width: 100px;
 z-index: 1;
 background-size: 100px;
 width: 100px;
 height: 150px;
 background-repeat: no-repeat;
 cursor: grab;
}


.anim-remove{
    animation-name: remove;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes remove{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(0);
    }
}
.anim-show{
    animation: show 2s;
    animation-fill-mode: forwards;
    }

@keyframes show{
    0%{
    transform: scale(0);
    }
    100% {
    transform: scale(1);
    }
    }

body{
   
    background: linear-gradient(to bottom right, #0C7BB3, #F2BAE8);
    --def: #96B7C4; 	
	--inv: #fff;
	height: 920px;
    overflow: hidden;
    user-select: none;
}

header button{
    font-size: 28px;
    background: none;
    border: none;
    color: #FFF;
    position: absolute;
    top: 10px;
    left: 10px;
    margin-bottom: 10px;
}

header button:hover{
    animation-name: theme;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes theme {
   0%{color: rgb(207, 109, 236);}
   25%{color: green;}
   50%{color: rgb(193, 196, 22);}
   75%{color: rgb(177, 127, 21);}
   100%{color: rgb(8, 6, 160);}
    
}
/*Cтартовая страница*/
.start-page{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 40%;
}
.start-page p{
    font-size: 80px;
    margin-bottom: 10px;
    font-family: 'Pacifico', cursive;
    color: rgb(29, 29, 29);
    margin-bottom: 30px;
}

.start-btn{
    font-size: 70px;
    font-family: 'Pacifico', cursive;
    border-radius: 15px;
    border: none;
    text-align: center;
    background-color: #343A40;
    color: #FFF;
    cursor: pointer;
    padding: 10px;
    width: 250px;
}
.login-page .start-btn{
    font-size: 36px;
}
.end-game-page .start-btn{
    width: 500px;
}
.start-btn:hover{
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, red);
  animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
    to {
      background-position:500px;
    }
  }


/*Авторизация*/ 
.login-page{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
    position: relative;
    bottom: 34%;
}
.group {
    position: relative;
    margin-bottom: 30px;
  }

  input {
    font-size: 40px;
    padding: 10px;
    width: 200px;
    border: none;
    border-bottom: 1px solid #ccc;
    opacity: 0.5;
  }
  input:focus {
    outline: none;
  }

label {
    color: rgb(48, 48, 48);
    font-size: 40px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  input:focus ~ label, input:valid ~ label {
    top: -30px;
    font-size: 24px;
    color: #131313;
  }
  
  .bar {
    position: relative;
    display: block;
    width: 220px;
  }
  .bar:before, .bar:after {
    content: "";
    height: 4px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #e09509;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .bar:before {
    left: 50%;
  }
  .bar:after {
    right: 50%;
  }
  
  input:focus ~ .bar:before,
  input:focus ~ .bar:after {
    width: 50%;
  }

 /*Меню*/
 .menu-page{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
    position: relative;
    top: 50px;
    } 
.greeting{
    font-size: 34px;
    margin-bottom: 0;
}
.level {		
	position: relative;	
	padding: 10px 20px;
	font-size: 24px;
	color: var(--inv);
	letter-spacing: 1.1rem;
	text-transform: uppercase;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
    background: none;
    border: none;
}

.level:before, .level:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.level:hover {
	color: var(--def);
	transition-delay: .5s;
}

.level:hover:before {
	transition-delay: 0s;
}

.level:hover:after {
	background: var(--inv);
	transition-delay: .35s;
}
/* From Top */
.from-top:before, 
.from-top:after {
	left: 0;
	height: 0;
	width: 100%;
}
.from-top:before {
	bottom: 0;	
	border: 1px solid var(--inv);
	border-top: 0;
	border-bottom: 0;
}
.from-top:after {
	top: 0;
	height: 0;
}
.from-top:hover:before,
.from-top:hover:after {
	height: 100%;
}
/* From center */
.from-center:before {
	top: 0;
	left: 50%;
	height: 100%;
	width: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;
}
.from-center:after {
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	background: var(--inv);
}
.from-center:hover:before {
	left: 0;
	width: 100%;
}
.from-center:hover:after {
	top: 0;
	height: 100%;
}
/* From Bottom */
.from-bottom:before, 
.from-bottom:after {
	left: 0;
	height: 0;
	width: 100%;
}

.from-bottom:before {
	top: 0;	
	border: 1px solid var(--inv);
	border-top: 0;
	border-bottom: 0;
}

.from-bottom:after {
	bottom: 0;
	height: 0;
}

.from-bottom:hover:before,
.from-bottom:hover:after {
	height: 100%;
}

/*timer*/
.timer__items {
    display: flex;
    font-size: 48px;
    position: absolute;
    left: 280px;
    top: 0px;
    opacity: 0.5;
  }
  .timer__item {
    position: relative;
    min-width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    text-align: center;
  }
  .timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 14px;
  }
  .timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -15px;
  }

/*end-game-page*/
.end-game-page{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
    position: relative;
    top: 50px;
} 
.end-game-score{
    font-size: 36px;
}
.end-game-page p{
    padding: 15px;
    font-size: 44px;
}

/* Весы*/
.scales
{
    display: flex;
    width: 700px;
    height: 700px;
    position: absolute;
    top: 40px;
}

.scales-base{
    height: 0; 
    width: 110px;
    border-bottom: 100px solid #103583;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-radius: 40px;
    position: absolute;
    top: 90%;
    left: 35%;
    }

.scales-body{
        height: 550px; 
        width: 90px;
        background-color:  #103583;
        border-top: 30px solid #103583;
        border-top-right-radius : 50px;
        border-top-left-radius : 50px;
        position: absolute;
        left: 43.75%;
        top: 6%;
        }


.scales-arm{

        position: absolute;        
        width: 460px;
        height: 50px;
        border-radius: 100% 100% 0 0;
        border-top: 30px solid #103583;
        top: 140px;
        left: 120px;
    
}

.scales-left-part{
    position: relative;
    width: 400px;
    height: 600px;
   
}
.scales-right-part
{
    position: relative;
    width: 400px;
    height: 600px;
    transform: scale(-1, 1);
}

.scales-left-tread{
    height: 292px; 
    width: 2px;
    background-color:  #103583;
    position: absolute;
    left: 86px;
    top: 175px;
    transform: rotate(14deg);
}

.scales-right-tread{
    height: 292px; 
    width: 2px;
    background-color:  #103583;
    position: absolute;
    left: 157px;
    top: 175px;
    transform: rotate(-14deg);
}

.scales-bowl{
    width: 144px;
	height: 60px;
	background: #103583;
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    transform: scale(-1);
    position: absolute;
    top: 460px;
    left: 50px;
}

.counters{
    position: absolute;
    font-family: 'Roboto';
    font-size: 30px;
    color: bisque;
    top: 150px;
    left: 60px;
    transform: scale(-1);
}

.scales-right-part .counters{
    transform: scaleY(-1);
}


.hide{
    display: none;
}

.back{
    border: none;
    font: 700 3em "Oswald", sans-serif;
    letter-spacing: 0;
    display: block;
    margin: 0;
    text-shadow: 0 0 80px rgba(255,255,255,.5);
    background: url(../img/exit.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: aitf 80s linear infinite;
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
}
.back:hover
{
    animation-direction:reverse;
}
@keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.nametag{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font: 2em sans-serif;
}
.table {
    text-decoration: none;
    position: absolute;
    top: -50px;
    right: 10px;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    border: none;
  }
  .table:hover {
    background-position: right center;
  }

  .table-page{
      
      
      height: 100%;
     position: absolute;
     top: 20%;
     left: 36%;
  }
  table {
      
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #ECE9E0;
    color: #656665;
    border: 16px solid #ECE9E0;
    border-radius: 20px;
    }
    th {
    font-size: 38px;
    padding: 10px;
    }
    td {
    font-size: 28px;
    background: #F5D7BF;
    padding: 10px;
    }

.table-page .start-btn{
    margin-bottom: 50px;
    font-size: 50px;
    width: 500px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* алерт */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 50px;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .appear {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}


@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
